/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 10000 !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap Icons SCSS file. */
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-appearance-fill .mat-form-field-flex{

background-color: transparent;
}

.mat-select{
  width: 100%;
}

.filter-box .mat-form-field{
  width: 450px;
}

.mat-form-field-underline{
  display: none;
  &::before{
    height: 0;
    opacity: 0!important;
  }
}

.btn-tag {
  display: flex;
    justify-content: flex-end;
}

.mat-form-field-infix{
  width:100%!important;
}

.mat-form-field{
  width:100%;
}